.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content-container {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 56px; /* Height of the BottomNav */
}

.bottomNavContainer {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000; /* Ensure it stays on top of other content */
}
